<div class="modal-header theme">
    <span class="text-uppercase lead" ng-cloak>
        Change Password
    </span>
    <button  type="button" 
                class = "close"
                ng-click = "vm.cancel()" 
                data-dismiss = "modal" 
                aria-hidden  = "true">&times;</button>
</div>
<div class = "modal-body margin-top">
    <form action = "" class = "materialize" name="updatePassword">          
            <div class="col-md-12">
                <input  class="form-control" type="{{vm.inputType}}" placeholder=" " ng-model="vm.data.currentPassword" name="currentPassword" required="">
                <label class="md-label">Current Password </label>
                <span class="text-red small" ng-show="updatePassword.currentPassword.$invalid && vm.submitted">* Required</span>
            </div>
            <div class="col-md-12">
                <input  class="form-control" type="{{vm.inputType}}" placeholder=" " ng-model="vm.data.newPassword" name="newPassword" required="">
                <label class="md-label">New Password </label>
                <span class="text-red small" ng-show="updatePassword.newPassword.$invalid && vm.submitted">* Required</span>
            </div>
            <div class="col-md-12">
                <input  class="form-control" type="{{vm.inputType}}" placeholder=" " ng-model="vm.data.confirmPassword" 
                 compare-to="vm.data.newPassword" name="confirmPassword" required="">
                <label class="md-label">Confirm Password </label>
                <span class="text-red small" ng-if="updatePassword.confirmPassword.$error.compareTo">Must match  with New Password</span>                   
                <span class="text-red small" ng-show="updatePassword.confirmPassword.$invalid && vm.submitted">* Required</span>
            </div>
    </form>
    <div class="text-center margin-top">
        <button class="btn btn-default" ng-click="vm.cancel()">
            Cancel
        </button>
        <button class="btn btn-primary"
                ng-disabled ="updatePassword.$invalid"
                ng-click="vm.save(vm.data)">
                 <span ng-if="vm.disable">                                  
                    <i class="fa fa-circle-o-notch fa-spin"></i>
                    Updating  password...
                </span> 
                <span ng-if="!vm.disable">Save</span>
        </button>
    </div>
</div>