<div class="calendar-picker">
    <div class="col-xs-2 no-padding">
        <div class="list-group">
        <button type="button" 
            class="list-group-item" 
            ng-repeat="option in vm.constants"
            ng-click="vm.selectDefault(option)">
            {{option | capitalize}}
        </button>
        </div>
    </div>
    <div class="col-xs-10 no-padding">
        <div class="col-xs-12">
            <div class="col-xs-6">
                <h4>Select period</h4>
            </div>
            <div class="col-xs-6" style="padding-right: 0;">
                <button type="button"
                    class="close" 
                    aria-label="Close"
                    ng-click="vm.onHandleCancel()">
                    <span aria-hidden="true">
                        &times;
                    </span>
                </button>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="col-xs-12 text-center" style="margin: 10px 0">
                <h4>
                    <i class="fa fa-chevron-left pointer" 
                        style="float: left"
                        aria-hidden="true"
                        ng-click="vm.changeCalendar(-1)"></i>
                    <span class="pointer" ng-click="vm.toggleDatePicker('start')">
                        {{vm.monthNames[vm.currentDate.month()] + ' ' + vm.currentDate.year()}} 
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </span>
                    <i class="fa fa-chevron-right pointer"
                        style="float: right" 
                        aria-hidden="true"
                        ng-click="vm.changeCalendar(1)"></i>
                </h4>
            </div>
            <div class="col-xs-12 no-padding">
                <table class="table" style="border: 0">
                    <thead>
                        <tr>
                            <th class="text-center"
                                ng-repeat="day in vm.dayNames">
                                {{day}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in vm.startCalendar" ng-init="rowIndex = $index">
                            <td ng-repeat="cell in row track by $index"
                                class="text-center"
                                ng-class="{
                                    'in-range-date': cell.isCurrent && vm.isBetweenDates(cell),
                                    'selected-date': cell.isCurrent && vm.isSelectedDate(cell),
                                    'is-weekend': $index === 0 || $index === 6
                                    }"
                                ng-click="vm.selectDate(cell)">
                                <span ng-if="cell.isCurrent">
                                    {{cell.date.date()}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 no-padding" style="margin-top: 10px">
                <div class="col-xs-8 no-padding form-group" 
                    style="padding-right: 5px"
                    ng-class="{'has-error': vm.startDateStringErrors.format || vm.startDateStringErrors.time}">
                    <input type="text" 
                        class="form-control"
                        ng-model="vm.startDateString"
                        ng-change="vm.changeDateStrings('start', vm.startDateString)">
                    <span class="help-block"
                        ng-show="vm.startDateStringErrors.format"
                        style="position: absolute">
                        Invalid date
                    </span>
                    <span class="help-block"
                        ng-show="vm.startDateStringErrors.time"
                        style="position: absolute">
                        Start date is after end date
                    </span>
                </div>
                <div class="col-xs-4 no-padding" 
                    style="padding-left: 5px;">
                    <select class="form-control" 
                        ng-model="vm.startTime">
                        <option ng-repeat="timeOption in vm.timeOptions"
                            ng-value="timeOption">{{timeOption}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="col-xs-12 text-center" style="margin: 10px 0">
                <h4>
                    <i class="fa fa-chevron-left pointer" 
                        style="float: left"
                        aria-hidden="true"
                        ng-click="vm.changeCalendar(-1)"></i>
                    <span class="pointer" ng-click="vm.toggleDatePicker('end')">
                        {{vm.monthNames[vm.nextDate.month()] + ' ' + vm.nextDate.year()}} 
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </span>
                    <i class="fa fa-chevron-right pointer"
                        style="float: right" 
                        aria-hidden="true"
                        ng-click="vm.changeCalendar(1)"></i>
                </h4>
            </div>
            <div class="col-xs-12 no-padding">
                <table class="table" style="border: 0">
                    <thead>
                        <tr>
                            <th class="text-center"
                                ng-repeat="day in vm.dayNames">
                                {{day}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in vm.endCalendar" f44336ng-init="rowIndex = $index">
                            <td ng-repeat="cell in row track by $index"
                                class="text-center"
                                ng-class="{
                                    'in-range-date': cell.isCurrent && vm.isBetweenDates(cell),
                                    'selected-date': cell.isCurrent && vm.isSelectedDate(cell)
                                    }"
                                ng-click="vm.selectDate(cell)">
                                <span ng-if="cell.isCurrent">
                                    {{cell.date.date()}}
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 no-padding" style="margin-top: 10px">
                <div class="col-xs-8 no-padding" 
                    style="padding-right: 5px"
                    ng-class="{'has-error': vm.endDateStringErrors.format || vm.endDateStringErrors.time}">
                    <input type="text" 
                        class="form-control"
                        ng-model="vm.endDateString"
                        ng-change="vm.changeDateStrings('end', vm.endDateString)">
                    <span class="help-block"
                        ng-show="vm.endDateStringErrors.format"
                        style="position: absolute">
                        Invalid date
                    </span>
                    <span class="help-block"
                        ng-show="vm.endDateStringErrors.time"
                        style="position: absolute">
                        Start date is after end date
                    </span>
                </div>
                <div class="col-xs-4 no-padding" 
                    style="padding-left: 5px;">
                    <select class="form-control" 
                        ng-model="vm.endTime">
                        <option ng-repeat="timeOption in vm.timeOptions"
                            ng-value="timeOption">{{timeOption}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-6">
                <p class="pull-right">
                    Selected {{(vm.startDate.diff(vm.endDate, 'days') | abs) + 1}} days 
                </p>
            </div>
            <div class="col-xs-6 no-padding">
                <button class="btn btn-default pull-right"
                    ng-click="vm.onHandleCancel()"
                    style="margin-left: 10px">
                    Cancel
                </button>
                <button class="btn btn-default pull-right"
                    ng-click="vm.onHandleConfirm()">
                    Confirm
                </button>
            </div>
        </div>
    </div>
    <date-picker
        calendar="'start'"
        current-month="vm.currentDate.month()"
        current-year="vm.currentDate.year()"
        on-ok="vm.confirmDatePicker(month, year, calendar)"
        on-cancel="vm.toggleDatePicker(calendar)"
        ng-if="vm.isDatePickerActive.start">
    </date-picker>

    <date-picker
        calendar="'end'"
        current-month="vm.nextDate.month()"
        current-year="vm.nextDate.year()"
        on-ok="vm.confirmDatePicker(month, year, calendar)"
        on-cancel="vm.toggleDatePicker(calendar)"
        ng-if="vm.isDatePickerActive.end">
    </date-picker>
</div>
